* {
    box-sizing: border-box;
  }

body {
    margin: 0 auto;
    padding: 0;
    background-color: rgb(215, 235, 231);
    color: rgb(0, 44, 110);
}

/* Header and footer */

.header-container, .footer-container {
    background-color: rgb(7, 106, 255);
    width: 100%;
    color: #fff;
  }

header {
    max-width: 1024px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(7, 106, 255);
    margin: 0 auto;
    padding: 20px 10px;
}

footer {
  max-width: 1024px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(7, 106, 255);
  margin: 0 auto;
  padding: 20px 10px;
  text-align: center;
}

.footer_menu h2 {
  margin: 10px 0;
  padding: 0;
}

.footer_menu a {
  display: block;
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
}

header a, footer a {
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
  }

header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

.logo {
    margin: 0 20px;
}

header a:hover {
    background-color: #fff;
    color: rgb(3, 65, 158);
  }

header a.active {
    background-color: rgb(3, 65, 158);
    color: white;
  }

header input[type="text"] {
    margin: 0 20px;
    padding: 5px 0px;
    min-width: 25%;
}

nav {
  min-width: 25%;
  margin: 0 20px;
}

/*  */

.container {
    max-width: 1024px;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin: 0 auto;
}

/* Sidebar */
  
aside {
    width: 27%;
    margin: 20px 0 0
}

section {
    background-color: rgb(128, 179, 255);
    margin: 0 0 20px;
    padding: 5px 15px 5px;
    border-radius: 5px;
}

section h2 {
  color: rgb(0, 44, 110);
  text-align: center;
}

.category {
  padding: 0;
}

.category a {
  width: 100%;
  display: block;
  text-decoration: none;
  background-color:rgb(215, 235, 231);
  list-style: none;
  text-align: center;
  margin: 5px 0;
  padding: 10px;
  font-size: 17px;
  color: rgb(0, 44, 110);
  font-weight: bold;
}

.category a:hover {
  background-color:rgb(0, 44, 110);
  color: rgb(215, 235, 231);
}

.active_cat a {
  background-color:rgb(7, 106, 255);
  color: rgb(215, 235, 231);
}

.active_cat a:hover {
  background-color:rgb(7, 106, 255);
  color: rgb(215, 235, 231);
}

/* Main */

main {
    width: 70%;
    margin: 20px 0 0 20px;
    padding: 0;
}

main h2 {
  font-size: 27px;
  color: rgb(0, 44, 110);
  margin: 25px 0 20px;
  text-align: center;
}

.product_flex {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

.product {
  background-color: rgb(163, 200, 255);
  max-width: 46%;
  display: inline-block;
  margin: 0 5px 20px 15px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.product_detail {
  width: 100%;
  background-color: rgb(163, 200, 255);
  display: inline-block;
  margin: 0 auto 20px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

.product_detail .button {
  margin: 30px 0 10px;
}

.product img, .product_detail img {
  width: 100%;
  border-radius: 5px;
}

.product h4, .product_detail h2 {
  margin: 8px 0;
  padding: 0;
}

.product h4 a {
  font-size: 21px;
  color: rgb(0, 44, 110);
  text-decoration: none;
}

.price {
  font-weight: bold;
}

.product p {
  color: rgb(0, 13, 32);
  font-size: 18px;
  margin: 10px 10px 10px;
}

.button {
  margin: 20px 0 10px;
}

.button a {
  background-color:rgb(215, 235, 231);
  padding: 10px;
  font-size: 20px;
  color: rgb(0, 44, 110);
  text-decoration: none;
  margin: 10px 10px 30px;
}

.button a:hover {
  background-color:rgb(0, 44, 110);
  color: rgb(215, 235, 231);
}

.mobile {
  display: none;
}

/* Contact */

.contact {
  width: 100%;
  background-color: rgb(163, 200, 255);
  margin: 0px auto 20px;
  padding: 10px 15px 20px;
  text-align: left;
  border-radius: 5px;
  font-size: 20px;
}

.contact input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  box-sizing: border-box; 
  margin: 5px 0px 15px;
  resize: vertical;
}

.contact input[type=submit] {
  background-color: white;
  color: rgb(61, 88, 179);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact input[type=submit]:hover {
  background-color: rgb(61, 88, 179);
  color: white;
}

@media screen and (max-width: 800px) {

    header {
        flex-direction: column;
        display: block;
        text-align: center;
        margin: 0;
        padding: 10px 0 0;
      }

    header a {
      display: inline-block;
      padding: 15px 25px;
      margin: 10px 0;
    }

    input[type="text"] {
        width: 85%;
        margin: 15px 0px 15px;
        padding: 10px 0px;
    }

    .logo {
        margin: 0;
    }

    nav {
        width: 90%;
        margin: 0 auto 15px;
    }

    .dropdown {
      overflow: hidden;
      margin: 0 20px 0 0;
      display: inline-block;
    }
    
    .dropdown .dropbtn {
      background-color:rgb(215, 235, 231);
      list-style: none;
      text-align: center;
      margin: 5px 0;
      padding: 10px;
      font-size: 20px;
      color: rgb(0, 44, 110);
      font-weight: bold;
      border: 0px;
      font-family: inherit;
    }
    
    .dropdown:hover .dropbtn {
      background-color: rgb(0, 44, 110);
      color: rgb(215, 235, 231);
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: rgb(0, 44, 110);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color: rgb(0, 44, 110);
      color: #f9f9f9;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .container {
        width: 100%;
        flex-flow: column wrap;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    aside {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .desktop {
      display: none;
    }
    
    .mobile {
      display: block;
      overflow: hidden;
      background-color: rgb(128, 179, 255);
      margin: 0 auto;
      padding: 15px 15px;
      border-radius: 0px;
      text-align: center;
    }

    main {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .product_flex {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      padding: 0;
      margin: 0 auto;
    }

    .product {
      max-width: 46%;
      margin: 10px;
      padding: 10px;
      text-align: center;
    }

    .product_detail {
      max-width: 100%;
      margin: 15px 0;
      padding: 10px 20px 20px;
      text-align: center;
      border-radius: 0px;
    }

    .contact {
      border-radius: 0px;
      margin: 15px auto 20px;
    }

  }

  @media screen and (max-width: 500px) {
    header a {
        display: block;
        margin: 10px 0;
      }

    nav {
        width: 85%;
    }

    .product_flex {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0 auto;
      
    }

    .product {
      max-width: 100%;
      margin: 10px;
      padding: 10px;
      text-align: center;
    }

}